div,a,span,img,input,h2,ul,li,h4,h1,label,b,dl,dt,dd,p{
	margin:0;
	padding:0;
}
.top{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid gainsboro;
}
.topbody{
	width: 1200px;
	height: 100%;
	margin: 0 auto;	
	font-size: 13px;
}
.topbody_left{
	width: 100px;
	line-height: 30px;
	text-align: center;	
	float: left;
}
.topbody_left a{
	text-decoration: none;
	color: #8c8c8c;
}
.topbody_left a:hover{
	color: #ca151e;
}
.topbody_right{
	width: 280px;
	line-height: 30px;	
	float: right;	
}
.topbody_right a{
	text-decoration: none;
	display: inline-block;
	margin-right: 6px;
}
.topbody_right a:nth-of-type(1),.topbody_right a:nth-of-type(2){
	float: left;
	color: #333;
}
.topbody_right a:nth-of-type(1):hover{
	color: #ca151e ;
}
.topbody_right a:nth-of-type(2):hover{
	color: #ca151e ;
}
.topbody_right a:nth-of-type(3){
	width: 100px;
	color: #8c8c8c;
	float: right;
	position: relative;
}
.topbody_right a:nth-of-type(3):hover{
	color:  #ca151e;
}
.topbody_right a:nth-of-type(3) span{
	display: inline-block;
	
}
.topsp_1{
	width:15px ;
	height: 16px;
	background: url(http://www.sctvgo.com/themes/default/images/icon/wap.gif) no-repeat;
	text-align: left;
	vertical-align: middle
}
.topbody_right a:nth-of-type(3):hover .topsp_1{
	background: url(http://www.sctvgo.com/themes/default/images/icon/wap-hover.gif) no-repeat;
}
.layout{
	width: 1200px;
	height: 115px;
	margin: 0 auto;
}
.logo{
	width: 345px;
	float: left;
	padding-top: 25px;
}
.searchBar{
	width: 456px;
	height: 72px;
	float: left;
	margin: 43px 7px 0 0;
}
#searchBar-area{
	width: 404px;
	height: 30px;
	border:2px solid #ca141d;
}
#search{
	width: 320px;
    height: 18px;
	padding: 5px;
	outline: none;
	border: none;
}
#btn{	
	width: 69px;
	height: 30px;
	float: right;
	background: #ca141d;
	outline: none;
	border: none;
	margin: 0 ;
	padding: 0;
}
.searchBar-key{
	width: 451px;
	height: 21px;
	font-size: 14px;
	color: #999;	
}
.searchBar-key a{
	text-decoration: none;
	font-size: 12px;
	color: #999;
	display: inline-block;
	margin: 0 5px;	
}
.header-toolbar{
	width: 201px;
	height: 32px;
	float: left;
	border: 1px solid #e5e5e5;
	margin-top: 43px;
	position: relative;
}
.header-toolbar a{
	text-decoration: none;
	color: #333;
	font-size: 13px;
	display: inline-block;
	line-height: 32px;
	float: left;
	width: 100px;
	text-align: center;
}
.header-toolbar a:nth-of-type(1){
	border-right:1px solid gainsboro ;
}
.header-toolbar a:nth-of-type(2):hover{
	color: #e01d20;
}
.ec-slider{
	width: 155px;
	height: 76px;
	float: right;
	margin-top: 39px;
}
.naver-main{
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #ca141d;
}
.lay_out{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.category{
	width: 220px;
	height: 40px;
	float:left;
	background: #da3243;
	position: relative;	
	cursor: pointer;
}
.category>h2{
	color: #fff;
	line-height: 40px;
	font-size: 16px;
	text-indent: 2em;
	font-weight: 400
}
.naver{
	float: right;
	width:780px;
	height: 40px;
}
.naver ul{
	width: 780px;
	height: 40px;
}
.naver ul li{
	float: left;
	line-height: 40px;
	list-style: none;
	display: inline-block;
	margin-left: 45px;
}
.naver li:nth-of-type(1){
	color: #ba181f;
	font-weight: bold;
}
.naver li:hover{
	color: #ba181f;
	cursor: pointer;
}
.d{
	position: absolute;
	border: 1px solid grey;
	width: 218px;	
	height: 378px;
	background-color: #e63547;
	color: #fff;
	top: 42px;
	left: 0px;
	cursor: pointer;
	border-top: none;
	display: none;
	z-index: 10;
}
.d li{
	height: 50px;
	width: 218px;
	list-style: none;
	display: inline-block;
	text-indent: 12px;
	margin-top: 4px;
	margin-left: 1px;
	border-right: none;
	position: relative;	
}
.d li h4{
	font-size: 15px;
}	
.d span{
	font-size: 13px;
	text-align: left;
	display: inline-block;
	color: ghostwhite;
}
.d li:hover{
	background: whitesmoke;
}
.d li:hover h4{
	color: #ba181f;
}
.d li:hover span{
	color: #ba181f;
}
.d li span:hover{
	color: #891316;
}
.li_one{
	position: absolute;
	width: 180px;
	background: white;
	left: 218px;
	top: 0px;
	border: 1px solid gainsboro;
	border-left: none;
	display: none;	
}
.li_one a{
	font-size: 15px;
	display: block;
	text-indent:2em;
	width: 100%;
	line-height: 49px;
	text-decoration: none;
	color: #E63547;	
}
.d li:hover .li_one{
	display: block;
	z-index: 999;
}
.li_one a:hover{
	color: #891316;
	background: #efeaea;
}
.category:hover .d{
	display: block;
}
.pro_detail_top{
	width: 100%;
	height: 44px;
}
.pro_nav_bar{
	width: 1200px;
	height: 44px;
	background: #f9f9f9;
	margin: 0 auto;
}
.pro_nav_bar ul{
	width: 100%;
	height: 100%;
}
.pro_nav_bar li{
	display: inline-block;
	height: 100%;
	width:90px ;
	font-size: 12px;
	float: left;
	line-height: 44px;
}
.pro_nav_bar li a{
	color: #333;
	text-decoration: none;
}
.pro_nav_bar li:hover a{
	color: #CA141D;
}
.pro_nav_bar li:nth-of-type(1){
	width: 40px;
}
.pro_nav_bar li:nth-of-type(4){
	float: right;
	background: url(http://www.sctvgo.com/themes/default/images/logo/star-logo.png) no-repeat 0 12px;
	text-align: right;
	width: 75px;
	margin-right: 20px;
}
.pro_detail_main{
	width: 1200px;
	height: 1630px;
	margin: 0 auto;
}
.pro_detail_area{
	width: 1200px;
	height: 598px;
	margin-top: 20px;
	float: left;
}
.pro_detail_left{
	width:452px;
	height:520px;
	float: left;
}
.jqzoom{
	width: 450px;
	height: 450px;
	border: 1px solid #eee;
	position: relative;
}
.jqzoom img{
	width: 450px;
	height: 450px;
	position: absolute;
}
.spec-n5{
	width: 450px;
    padding-top: 10px;
    overflow: hidden; 
    display: block;
    float: none;
    margin: 0 auto;
}
.spec-left{
	width: 10px;
    height: 45px;
    float: left;
    margin-right: 10px;
    margin-top: 8px;
}
.spec-list-wrap{
	position: relative;
    overflow: hidden;
    float: left;
    width: 410px;
    height: 78px;
}
.spec-list-wrap ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 7200px;	
}
.spec-list-wrap ul li{
	float: left;
	border: 1px solid gainsboro;
	list-style: none;
}
.spec-list-wrap ul li img{
	width: 70px;
	height: 70px;
}
.spec-right{
	width: 10px;
    height: 45px;
    float: right;
    margin-right: 10px;
    margin-top: 8px;
}
.spec-list-wrap ul li:hover{
	border-color:rgb(214, 21, 24);
}
.zoomdiv{
	position: absolute;
	top:251px;
	left:43%;
	width: 400px;
	height: 400px;
	border: 1px solid gainsboro;
	overflow: hidden;
	display: none;
}
#mask{
	width: 200px;
	height: 200px;
	background: gray;
	position: absolute;
	opacity: 0.3;
	cursor: move;
	display: none;
}
.zoomdiv img{
	position: absolute;
	width: 1000px;
	height: 1000px;
}
.pro_detail_right{
	width: 715px;
	height: 585px;
	float: right;
}
.pro_detail_right label{
	font-size: 13px;
	color: #929292;
}
.pro_name{
	width: 715px;
    text-align: left
}
.pro_name h1{
	font-size: 16px;
	margin: 5px 0;
	color: #666666;
}
.pro_note{
	width: 100%;
	height: 18px;
	margin: 5px 0;
	font-size:12px ;
	color: #e01d20;
}
.pro_detail_sum{
	background: #f3f3f3 no-repeat;
    padding: 8px;
    width: 100%;
    height: 198px;
}
.pro_code{
	width: 100%;
	margin: 5px 0px;
	height: 25px;
	font-size: 12px;
	color: #929292;
}
.pro_price{
	margin: 5px 0px;
	width: 100%;
	height: 30px;
}
.pro_price span{
	color: #e01d20;
}
.pro_promote{
	width: 100%;
	height: 78px;
	margin: 5px 0;
}
.pro_promotes{
	height: 78px;
	width: 624px;
	float: right;
	font-size: 12px;
}
.pro_promotes p{
	padding-top: 5px;
	height: 20px;
	color:#929292;
}
.pro_promotes p a{
	color: #333;
	text-decoration: none;
}
.pro_promotes p:nth-of-type(1) span{
	font-size: 12px;
	display: inline-block;
	width: 34px;
	line-height: 18px;
	height: 18px;
	color: white;
	background: #e01d20;
	text-align: center;
	margin-right: 5px;
}
.pro_promotes p:nth-of-type(2) span{
	font-size: 12px;
	display: inline-block;
	width: 34px;
	line-height: 18px;
	height: 18px;
	color: white;
	background: #e01d20;
	text-align: center;
	margin-right: 5px;
}
.pro_promotes p:nth-of-type(3) span{
	font-size: 12px;
	display: inline-block;
	width: 60px;
	line-height: 18px;
	height: 18px;
	color: white;
	background: #e01d20;
	text-align: center;
	margin-right: 5px;
}
.pro_detail_more{
	width: 715px;
	height: 114px;
	padding: 8px;
    color: #999;
    font-size: 13px;
    border-bottom: 1px solid #eee;
}
.pro_more_item{
	margin: 5px 0;
	height: 20px;
}
.pro_sku_text{
	width: 100%;
	height:32px;
	border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    padding: 8px 0 13px
}
.pro_sku_text dl{
	width: 100%;
	height:32px;
}
.pro_sku_text dl dt{
	width: 112px;
	height: 32px;
	float: left;
	line-height: 32px;
	font-size: 13px;
}
.pro_sku_text dl dd{
	display: inline-block;
	position: relative;
	width: 50px;
	height: 30px;
	float: left;
	border: 1px solid darkgray;
	line-height: 30px;
	margin-right: 5px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
.pro_sku_text dl dd i{
	display: inline-block;
	position: absolute;
	width: 15px;
	height: 15px;
	bottom: 0;
	right: 0;
	background: url(http://www.sctvgo.com/themes/default/images/icon/sign.png) no-repeat 0 -125px;
	display: none;
}
.pro_sku_text dl dd.activv{
	border-color: red;	
}
.pro_sku_text dl dd.activv i{
	display: block;	
}
.pro_sku_text dl dd:hover{
	color: red;
}
.pro_qty{
	margin-top: 15px;
	width: 715px;
	height: 39px;
}
.pro_qty dl{
	width: 100%;
	height: 100%;
}
.pro_qty dt{
	display: inline-block;
	float: left;
	font-size: 14px;
	height:29px;
	line-height:29px ;
}
.pro_qty dl dd{
	float: left;
	width: 400px;
	font-size: 13px;
	height: 100%;
}
.pro_qty dd span{
	display: inline-block;
	width: 20px;
	height: 29px;
	text-align: center;
	float: left;
	line-height: 29px;
}
.pro_qty dd span:nth-of-type(3){
	width: 200px;
	color: red;
	height: ;
}
.pro_qty dd input{
	display: inline-block;
	float: left;
	width: 50px;
	height:25px ;
	outline: none;
	text-align: center;
	
}
.pro_qty dd span:nth-of-type(1),.pro_qty dd span:nth-of-type(2){
	width: 26px;
	height: 27px;
	border: 1px solid darkgray;
	line-height: 27px;
	margin: 0 10px;
	cursor: pointer;
}
.pro_tips{
	width: 100%;
	height: 18px;
	font-size: 12px;
	margin-top: 15px;
}
.add_cart_area{
	width: 715px;
	height: 44px;
}
.add_cart_area a{
	display: block;
	float: left;
	height: 44px;
	width: 200px;
	text-align: center;
	line-height: 44px;
	text-decoration: none;
	color: white;
	margin-right: 20px;
}
.add_cart_area a:nth-of-type(1){
	width: 120px;
	background: #F05357;
}
.add_cart_area a:nth-of-type(2){
	background: #E01D20;
}
.add_cart_area a:nth-of-type(3){
	background: #F19953;
}
.pro_hot_l{
	float: left;
    width: 240px;
    margin-top: 20px;
    border: 1px solid #DEDEDE;
    height: 540px;
}
.pro_hot_l_top{
	float: left;
    height: 50px;
    width: 240px;
    background-color: #F7F7F7;
}
.pro_hot_l_top h1{
	font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 30px
}
.pro_hot_l_content{
	float: left;
	width: 240px;
}
.pro_hot_l_content li{
    display: list-item;
    text-align: -webkit-match-parent;
    border-top: 1px solid #DEDEDE;
    padding: 12px 12px 12px 10px;
    width: 218px;
    height: 57px;
	list-style: none;
	font-size: 12px;
	position: relative;
}
.pro_hot_l_content li p{
	float: left;
}
.pro_hot_l_content li p img{
	width: 60px;
	height: 60px;
}
.pro_hot_l_content li p:nth-of-type(1){
	width: 60px;
	height: 60px;
}
.pro_hot_l_content li p:nth-of-type(2),.pro_hot_l_content li p:nth-of-type(3){
	width: 150px;
	height: 32px;
	text-indent: 2em;
	text-align: center;
}
.pro_hot_l_content li p:nth-of-type(3){
	color: red;
	line-height:32px ;
}
.pro_hot_l_content li:nth-of-type(1) span{
	position: absolute;
	display: block;
	width: 23px;
	height: 23px;
	top: 0px;
	left: 0px;
	background: url(http://www.sctvgo.com/themes/default/images/icon/corner.png);
}
.prodetail_top{
	line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #ec4847;
    background-color: #F6F6F6;
    width: 940px;
    float: right;
    margin-top: 20px;
}
.prodetail_top ul{
	width: 100%;
	height: 100%;	
}
.prodetail_top ul li{
	display: block;
    font-weight: bold;
    float: left;
    cursor: pointer;
    text-align: center;
    height: 50px;
    padding: 0 40px;
    font-size: 14px;
    border-right: 1px solid #dedede;
    background-color: #F6F6F6;
}
.prodetail_top ul li.hove{
    border: 1px solid #ec4847;
    border-top-width: 2px;
    margin-top: -1px;
    margin-left: -1px;
    border-bottom: none;
    color: #E01D20;
    background-color: #fff;
}
.prodetail_box{
	width:940px;
	height: 910px;
	float: right;
	position: relative;
	margin-right: 1px;
}
.con_two_1{
	width:100%;
	height: 910px;
	border: 1px solid darkgrey;
	border-top: none;
	position: absolute;
	top: 0px;
	left: 0px;
	text-indent: 1em;
}	
.con_two_1 span{
	display: block;
	margin: 5px 0;
}
.con_two_1 span:nth-of-type(7) img{
	width: 920px;
	height: 450px;
}
.con_two_2{
	width:100%;
	height: 538px;	
	border: 1px solid darkgrey;
	border-top: none;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.con_two_2 ul{
	width: 100%;
	height: 100%;
	
}
.con_two_2 ul li{
	list-style: none;
	height: 32px;
	text-indent: 1em;
	line-height: 30px;
	font-size: 14px;	
}

.con_two_2 ul li:nth-of-type(1){
	height: 50px;
	border-bottom: 1px solid gainsboro;
}
.con_two_2 ul li:nth-of-type(1) h3{
width: 120px;
text-align: left;
margin-left: 12px;
}
.con_two_2 ul li span{
	display: inline-block;
	width: 141px;
	text-align: left;
}
.con_two_3{
	width:940px;
	height: 41px;	
	border: 1px solid darkgrey;
	border-top: none;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.con_two_3 span{
	display: inline-block;
	width:100%;
	height: 41px;
	text-align: left;
	line-height: 41px;
	text-indent: 2em;
	font-size:14px ;
}
.con_two_4{
	width:940px;
	height: 83px;	
	border: 1px solid darkgrey;
	border-top: none;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.con_two_4 span{
	display: inline-block;
	margin: 10px 0 0 10px;
	font-size: 14px;	
}
.con_two_5{
	width:940px;
	height: 41px;	
	border: 1px solid darkgrey;
	border-top: none;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.con_two_5 span{
	display: inline-block;
	width:100%;
	height: 41px;
	text-align: left;
	line-height: 41px;
	text-indent: 2em;
	font-size:14px ;
}
#s_serivce{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	border-bottom: 1px dashed gainsboro;
}
#s_serivce ul{
	display: block;
	width: 100%;
	height: 45px;
	margin: 10px auto 30px auto;
	float: left;
}
#s_serivce ul li{
	list-style: none;
	display: inline;
    margin-left: 5px;
    margin-right: 38px;
}
.foot-bd{
	padding-top: 40px;
    width: 1200px;
    margin: 20px auto auto auto;
    padding: 0 0 30px 0;
}
.clearfix{
	width: 1200px;
	height: 138px;
	color: #333333;
}
.clearfix dl{
	width: 136px;
	float: left;
    margin-right: 40px;
    margin-left: 20px;
    text-align: center;
}
.clearfix dl dt{
	font-size: 18px;
    margin-bottom: 20px;
    line-height: 16px;  
    margin: 5px 0px;
}  
.clearfix dl dd{
	margin: 10px 0px;
	font-size: 14px;
}
.clearfix dl dd a{
	color:#6e7375;
	text-decoration: none;
}
.d_1{
	background: url(http://www.sctvgo.com/themes/default/images/icon/bg_footer.png) no-repeat
	0px -54px
	;
}
.d_2{
	background: url(http://www.sctvgo.com/themes/default/images/icon/bg_footer.png) no-repeat
	0px 0px
	;
}
.d_3{
	background: url(http://www.sctvgo.com/themes/default/images/icon/bg_footer.png) no-repeat
	0px -21px
	;
}
.d_4{
	background: url(http://www.sctvgo.com/themes/default/images/icon/bg_footer.png) no-repeat
	0px -37px
	;
}
.bt-main{
	width:100%;
	height:28px;
	padding-top: 10px;
}
.bt-mains{
	width: 500px;
	height: 100%;
	margin: 0 auto;
	font-size: 12px;
}
.bt-mains a{
	text-decoration: none;
	margin: 0 10px;
	color: #6e7375;
}
.copyright{
	width: 100%;
	height: 33px;
	padding-top: 10px;
	text-align: center;
	color: #6e7375;
	font-size: 12px;
}
.bot{
	width: 100%;
	height: 32px;
	padding: 0 0 50px;
}
.bot img{
	display: block;
	margin: 0 auto;
}
#rightArrow{
	width: 50px;
    height: 47px;
    background: url(http://www.sctvgo.com/themes/default/images/icon/onlineservice.png) no-repeat #666;
    background-position: 8px 7px;
    position: fixed;
    top: 300px;
    background-color: rgb(102, 102, 102);
    right: 0px;
    z-index: 999;
}
#floatDivBoxs{
	width: 175px;
	height: 344px;
    background: #fff;
    position: fixed;
    top: 300px;
    right: -175px;
    z-index: 999;
    border: 1px solid gainsboro;
    cursor: pointer;
}
#floatDivBoxs>p{
	width: 100%;
	height: 46px;
	line-height: 46px;
}
#floatDivBoxs>p:hover{
	color: #e01d20;
}
#floatDivBoxs>p:nth-of-type(1){
	font-size: 18px;
	background: #ffa833;
	color: white;
	text-align: center;
}
#floatDivBoxs>p:nth-of-type(2)>img,#floatDivBoxs>p:nth-of-type(3)>img{	
	display: block;
	float: left;
	margin: 5px 10px 5px 20px ;	
}
#floatDivBoxs>p:nth-of-type(4)>img{
	display: block;
	margin-left: 8px;
}
#floatDivBoxs>p:nth-of-type(5){
	height: 160px;
	font-size: 12px;
	text-align: center;
	background: gainsboro;
}
#floatDivBoxs>p:nth-of-type(5)>img{
	display: block;
	padding-top: 20px;
	margin-left: 40px;
}
#xiding{
	width: 70px;
	height:70px;
	position: fixed;
	right: 20px;
	bottom: 0px;
	background-color: greenyellow;
	display: none;
}
#xiding img{
	width: 70px;
	height: 70px;
}